html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 1540px) {
    font-size: 50%;
  }
  @media only screen and (max-width: 1200px) {
    font-size: 40%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  @media only screen and (min-width: 1540px) {
    max-width: 1400px;
  }
}

a {
  text-decoration: none;
  color: #161616;
  &:hover {
    text-decoration: none;
  }
}

p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0rem;
}

// COLOR VARIABLES
$color-primary: #3a9696;
$color-secondary: #f9bd24;
$color-secondary-light: #e9bf55;
$color-white: #ffffff;
$color-white-text: #eee;
$color-dark-text: rgb(22, 22, 22);
$color-light-text: #5b5a5a;

$color-grey-shades: #aaa;
$color-light-shades: rgb(245, 244, 244);
