.cardLarge {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  // border-radius: 50px;
  // background-size: cover;
  // background-position: center;
  // box-shadow: 0 0.4rem 1rem rgba($color-dark-text, 0.05);
  // overflow: hidden;
  // position: relative;

  &__saveLargeCard {
    top: 2rem !important;
    right: 2rem !important;
  }

  &__save {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 200;
    cursor: pointer;
    fill: $color-secondary;
    color: $color-secondary;

    @media only screen and (max-width: $bp-700) {
      height: 2rem;
      width: 2rem;
    }
    @media only screen and (max-width: $bp-320) {
      top: 3.5rem;
      right: 3.5rem;
    }

    &:hover {
      background-color: rgba($color-white, 0.7);
    }
  }

  &__next {
    border: none;
    background-color: rgba($color-white, 0);
    position: absolute;
    top: 45%;
    right: 0rem;
    z-index: 200;
  }

  // &__img {
  //   height: inherit;
  //   width: max-content;
  // }

  &__details {
    // margin: 1.2rem;
    // padding: 3rem 3rem 1.5rem 3rem;
    // background-color: rgba($color-primary, 0.8);
    // border-radius: 50px;
    // display: flex;
    // flex-direction: column;
    // gap: 0.8rem;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // width: -webkit-fill-available;

    @media only screen and (max-width: $bp-320) {
      border-radius: 35px;
    }

    &--h2::after {
      content: "";
      height: 1px;
      display: block;
      background-color: $color-white;
      margin: 1rem 0;
    }
    &--description {
      padding: 1rem 2rem 2rem 2rem;
    }
  }

  &__icon {
    color: $color-white-text;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    z-index: 200;
  }
}
