.cardSmall {
  border-radius: 4px;
  box-shadow: 0 0.4rem 2rem rgba($color-dark-text, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  max-width: 500px;

  &__box{
    overflow: hidden;
    max-height: 200px;
  }

  &__img{
    width: -webkit-fill-available;
  }

  &__save {
    border: none;
    background-color: rgba($color-white, 0.6);
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.8rem;
    border-radius: 50%;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    z-index: 200;
    cursor: pointer;

    @media only screen and (max-width: $bp-700) {
      height: 2rem;
      width: 2rem;
    }

    &:hover {
      background-color: rgba($color-white, 0.7);
    }
  }

  &__details {
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}