.cta {
  width: inherit;
  grid-column: 1/-1;
  background-image: url(../../img/cta-1400.jpg);
  background-image: -webkit-image-set(
    url("../../img/cta-1400.jpg") 1x,
    url("../../img/cta-2000.jpg") 2x
  );
  background-image: image-set(
    url("../../img/cta-1400.jpg") 1x,
    url("../../img/cta-2000.jpg") 2x
  );
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  padding: 5rem;

  &__logo {
    height: 2.2rem;
  }

  &__heading-3 {
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
