// Slider Fav
.prevSliderFav,
.nextSliderFav {
  @extend .buttonMain;
  top: calc(45rem / 2);

  @media only screen and (max-width: 1200px) {
    top: 50%;
    transform: translateY(-50%);
  }
}

.prevSliderFav {
  left: -8rem;

  @media only screen and (max-width: 992px) {
    left: auto;
    right: 7rem;
    bottom: -10rem;
    top: auto;
  }
}

.nextSliderFav {
  right: -8rem;

  @media only screen and (max-width: 992px) {
    right: 0rem;
    bottom: -10rem;
    top: auto;
  }
}
