.home {

  display: grid;
  grid-template-columns:
    minmax(6rem, 1fr)
    minmax(min-content, 140rem)
    minmax(6rem, 1fr);

  @media only screen and (max-width: $bp-1440) {
    grid-template-columns:
      minmax(4rem, 1fr)
      minmax(min-content, 140rem)
      minmax(4rem, 1fr);
  }
  @media only screen and (max-width: $bp-1260) {
    grid-template-columns:
      minmax(2rem, 1fr)
      minmax(min-content, 120rem)
      minmax(2rem, 1fr);
  }
  @media only screen and (max-width: $bp-565) {
    grid-template-columns:
      2rem
      1fr
      2rem;
  }

  &__header{
    grid-column: 1/-1;
    grid-row: 1/2;
  
    background-image: url(../../img/hero-1400.jpg);
    background-image: -webkit-image-set(
      url("../../img/hero-1400.jpg") 1x,
      url("../../img/hero-2000.jpg") 2x
    );
    background-image: image-set(
      url("../../img/hero-1400.jpg") 1x,
      url("../../img/hero-2000.jpg") 2x
    );
    background-size: cover;
    background-position: center;
    height: max-content;
    display: grid;
    grid-template-columns:
      minmax(6rem, 1fr)
      minmax(min-content, 140rem)
      minmax(6rem, 1fr);
    gap: 5rem;
    margin-bottom: 15rem;
    position: relative;
  
    @media only screen and (max-width: $bp-1260) {
      grid-template-columns:
        minmax(4rem, 1fr)
        minmax(min-content, 120rem)
        minmax(4rem, 1fr);
    }
    @media only screen and (max-width: $bp-831) {
      grid-template-columns:
        minmax(1rem, 1fr)
        minmax(max-content, 83rem)
        minmax(1rem, 1fr);
      gap: 0rem;
    }
    @media only screen and (max-width: $bp-565) {
      grid-template-columns:
        1rem
        1fr
        1rem;
    }
  }
}